<!DOCTYPE html>
<html>
<body>

<h1>Welcome to Budget Calculator!</h1>
<p>Here we can calculate your budgets</p>
<h2> Please select your type of budget:</h2>
<ul>
	#ruby link to monthly budget input page
	<li > <%= link_to 'Monthly Budget', pages_monthlyBudget_path %></li>
</ul>


</body>
</html>
