<!DOCTYPE html>
<html>
<body>

<h1>Monthly Budget</h1>
<h3>Please input an amount for the following:</h3>
<form action="???">
	Monthly Income 
	<input name="monthlyIncome" type="text">
	</br>
	Mortgage/Rent 
	<input name="rent" type="text">
	</br>
	Utilities
	<input name="utilities" type="text">
	</br>
	Grocery 
	<input name="grocery" type="text">
	</br>
	Insurance
	<input name="insurance" type="text">
	</br>
	Vehicle/Gas
	<input name="vehicle" type="text">
	</br>
	Savings
	<input name="savings" type="text">
	</br>
	Other
	<input name="other" type="text">
	</br>
</br>
</br>
#ruby link to results page
<%= link_to 'SUBMIT', pages_monthlyResults_path %>
</form>

</body>
</html>